name: Test Frontend
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Build Docker image
        run: docker build -t react-test -f Dockerfile.dev .
      
      - name: Run tests in container
        run: docker run -e CI=true react-test npm run test